<div
  class="container flex items-center justify-center flex-col m-auto mt-52 mb-[194px]"
  [ngClass]="{ 'custom-spacing': next }"
>
  <h1 class="text-[#F65C65] text-[18px] w-[358px] mb-[15px]">Your tasks</h1>
  <section class="w-[358px]" [ngClass]="{ activeBlur: blurInputs }">
    <div
      *ngFor="let input of tasksInput; let i = index"
      class="flex items-center gap-[11px] mb-[30px] w-full border-2 border-transparent"
      #input
      [ngStyle]="{
        border: input.isSelected ? '2px solid #7be78c' : ''
      }"
      (click)="selectSimilar(i, 'input')"
    >
      <input
        type="text"
        [name]="input.name"
        [(ngModel)]="input.value"
        placeholder="Take the garbage out"
        class="rounded-[3px] w-full h-[38px] py-[10px] px-[16px] border focus:border-[#7BE78C] focus:outline-none placeholder:italic"
      />
      <button
        title="Add"
        class="bg-[#DDD] rounded-[3px] w-[60px] h-[38px] text-[#FEFEFE] text-[20px]"
        [ngClass]="{ 'active-btn': input.value }"
        (click)="addTask(input)"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </section>

  <section [ngClass]="{ activeBlur: blurTasks }">
    <h3 class="mb-[15px] text-[#444444]">
      You have {{ tasks.length }} pending items
    </h3>

    <div class="tasks w-[358px]">
      <div
        class="task bg-[#E0E8F5] flex items-center justify-between mb-[10px] border-2 border-transparent"
        *ngFor="let task of tasks; let i = index"
        [ngClass]="{ 'completed-task': task.isCompleted }"
        [ngStyle]="{
          border: task.isSelected ? '2px solid #7be78c' : ''
        }"
        (click)="selectSimilar(i, 'task')"
        #tasks
      >
        <label class="checkbox"
          ><span
            >{{ task.value }}
            <span *ngIf="task.isCompleted"
              >, {{ "completed: " + task.isCompleted }}</span
            ></span
          >
          <input
            type="checkbox"
            (change)="completeTask($event, task)"
            [checked]="task.isCompleted"
            [disabled]="inspectionActivated"
          />
          <span class="checkmark"></span>
        </label>

        <button
          title="Delete"
          class="bg-[#F56468] w-[44px] h-[41px] text-white"
          (click)="deleteTask(i)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </section>
</div>

<div class="controls" *ngIf="!next">
  <div class="flex justify-between">
    <span class="text-[24px] text-[#0E1726] font-bold mb-[43px] mt-[16px] ms-5"
      >Step 1. For loop</span
    >

    <div class="flex gap-2 mt-5 me-5">
      <div class="question cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"
          />
        </svg>
      </div>

      <div class="close cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </div>
    </div>
  </div>
  <div
    *ngIf="selectedInputArr.length == 0 && selectedTasksArr.length == 0"
    class="info text-[#0E1726] text-[24px] font-[600] ms-5 w-[60%]"
  >
    Select an element
  </div>
  <div
    *ngIf="currentSelect == 'input'"
    class="info text-[#0E1726] text-[24px] font-[600] ms-5 w-[60%]"
  >
    Great! You selected {{ selectedInputArr.length }} elements, we predicted
    {{ tasksInput.length - selectedInputArr.length }}
    additional element In total {{ tasksInput.length }} elements are selected
  </div>

  <div
    *ngIf="currentSelect == 'task'"
    class="info text-[#0E1726] text-[24px] font-[600] ms-5 w-[60%]"
  >
    Great! You selected {{ selectedTasksArr.length }} elements, we predicted
    {{ tasks.length - selectedTasksArr.length }}
    additional element In total {{ tasks.length }} elements are selected
  </div>

  <!-- Buttons -->
  <div class="flex items-center gap-4 absolute right-5 bottom-5">
    <button
      class="bg-[#fff] rounded-[8px] w-[120px] h-[56px] text-[#4361EE] text-[20px] border border-[#4361EE]"
      (click)="removeInspect()"
    >
      Reset
    </button>
    <button
      class="bg-[#4361EE] rounded-[8px] w-[120px] h-[56px] text-[#fff] text-[20px] border border-[#4361EE]"
      (click)="startInspect()"
    >
      Save
    </button>
  </div>
</div>

<div class="controls next" *ngIf="next">
  <div class="flex justify-between">
    <span class="text-[24px] text-[#0E1726] font-bold mb-[43px] mt-[16px] ms-5"
      >Step 2. Choose an child-action on each loop element</span
    >

    <div class="flex gap-2 mt-5 me-5">
      <div class="question cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"
          />
        </svg>
      </div>

      <div class="close cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="info text-[#0E1726] text-[24px] font-[600] ms-5 w-[60%] mb-4">
    Add action you want the bot to do on the page
  </div>
  <!-- Actions -->
  <div class="actions flex items-center gap-5 px-5">
    <div class="action" (click)="doAction('button')">
      <img src="../assets/Cursor.svg" alt="" class="mb-[12px]" />
      <h3 class="text-[18px] text-[#0E1726] font-[600]">Click a button</h3>
      <p class="text-[14px] text-[#888EA8] font-[500] text-center">
        allows you to click on a button for ead element
      </p>
    </div>

    <div class="action" (click)="doAction('input')">
      <img src="../assets/Text.svg" alt="" class="mb-[12px]" />
      <h3 class="text-[18px] text-[#0E1726] font-[600]">Input text</h3>
      <p class="text-[14px] text-[#888EA8] font-[500] text-center">
        allows you to input text for each element
      </p>
    </div>
  </div>
  <!-- Buttons -->
  <div class="flex items-center gap-4 absolute right-5 bottom-5">
    <button
      class="bg-[#4361EE] rounded-[8px] w-[180px] h-[56px] text-[#fff] text-[20px] border border-[#4361EE]"
      (click)="runBot()"
    >
      Run bot
    </button>
  </div>
</div>
